body {
	background-color: #5FD7F5;
	}
	
		
h1 {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 180%;
	}

	
h2 {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 140%;
	}

h3 {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 110%;
	}

	
p {
	font-family: Geneva, Verdana, sans-serif;
	font-size: 80%;
	}	
	
a {
	text-decoration: none;
	}
	

.right {
	float: right;
	transform: rotate(-3deg);
	}

.left {
	float: left;
	transform: rotate(2deg);
	}
	
img.outline {
	border-width: 5px;
	border-color: #FFFFFF;
	border-style: solid;
	box-shadow: 5px 5px 15px rgba(0,0,0,.35);
	
	}

div {
	border-width: 1px;
	border-style: dashed;
	border-color: transparent;
	}
	
#full {
	width: 85%;
	margin: auto;
	margin-top: 60px;
	}
	
#main1 {
	background-color: #35B0E6;
	padding: 20px;
	border-top-right-radius: 45px;
	border-top-left-radius: 45px;
	}
	
	
#main2 {
	background-color: #35B0E6;
	padding: 20px;
	border-bottom-right-radius: 45px;
	border-bottom-left-radius: 45px;
	}

#footer {
	padding: 10;
	}
	
#mains {
	border-radius: 45px;
	box-shadow: 5px 5px 15px rgba(22,117,161,.25);
	}
	
	
#socials {
	text-align: center;
	}
	
#main1 img {
	margin: 15px;
	}
	
#main2 img {
	margin: 15px;
	}